@import "globals";
@import "variable";
@font-face {
  font-family: "Orbitron";
  src: url("assets/fonts/Orbitron/static/Orbitron-Regular.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins/Poppins-Regular.ttf");
}

footer {
  height: 443px;
  flex-shrink: 0;
  background: #090823;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: 3rem;
  display: none;



  > div:first-child {
    display: flex;
    width: 524px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 23px;

    h1 {
      font-family: $Orbitron;
      font-size: 50px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      background: var(
        --2,
        linear-gradient(97deg, #f86cf8 12.04%, #64cef5 81.84%)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    p {
      width: 524px;
      color: rgba(255, 255, 255, 0.8);

      font-family: $Poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px; /* 166.667% */
    }
  }
  > div:nth-child(2),
  > div:nth-child(3) {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 21px;

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;

      li {
        cursor: pointer;
      }
    }
  }
  > div:last-child {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

    .social-media {
      display: flex;
      align-items: flex-start;
      gap: 21px;

      .icon {
        width: 35px;
        height: 35px;
        background: url(<path-to-image>), lightgray 50% / contain no-repeat;
      }
    }
    p {
      width: 263px;
      color: #fff;

      font-family: $Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  h5 {
    color: #fff;
    font-family: $Orbitron;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

img[alt="icons"] {
    cursor: pointer;
}