footer 
    div 
        h1 
            |
            span MetaV
        p Adipiscing at in tellus integer. Pellentesque massa placerat duis ultricies lacus. Nisi porta lorem mollis aliquam ut porttitor

    div 
        h5 About Us
        ul
            li About MetaV
            li Contact Us
            li FAQ
            li Privacy Policy
            li Terms of Service
            
    div 
        h5 Services
        ul
            li NFT Marketplace
            li Virtual Concert
            li Gaming
            li Artwork
            li Online Travel

    div 
        h5 Contact
        .social-media 
            .icons 
                img(src="assets/images/LinkedIn.svg", alt="icons") 
            .icons 
                img(src="assets/images/Twitter Squared.svg", alt="icons") 
            .icons 
                img(src="assets/images/Instagram.svg", alt="icons") 
            .icons 
                img(src="assets/images/Facebook.svg", alt="icons") 
        p 2022 © MetaV.com All right reserved.
