html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title AR-Meraverse
    body 

        .spot-light.spot-1 
        .spot-light.spot-2 
        .spot-light.spot-3 
        .spot-light.spot-4 
        .spot-light.spot-5 
        .spot-light.spot-6 

        block nav
            h1 pug nav
        block header
            h1 pug head
        block main
            h1 pug body
        block footer
            h1 pug footer